*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

.announcement {
    background-image: url(img/newcat.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.announcement a{
    text-align: center;
    color: gray;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    
}

.announcement ul li{
    display: inline-block;
    list-style: none;
    margin: 5px;
    transition: 0.3s ease;
}

.announcement ul li a{
    transition: 0.3s ease;
}

.announcement ul li a:hover{
    color: black
}