*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background-color: whitesmoke;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 8px;
    position: relative;
}

#navbar li a{
    padding: 10px;
    background-color: pink;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: black;
    transition: 0.2s ease;
}

#navbar li a:hover{
    color: pink;
}

#navbar li a:hover,
#navbar li a.active{
    color: gray;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: purple;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#banner  img{
    width: 100%;
    height: 35vh;
}

#categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 150px;
    background-image: url('bg.gif');
    background-size: cover;
    border-radius: 30px;
}

#category {
    display: flex;
    align-items: center;
    justify-content: center;
}

#category li{
    list-style: none;
    padding: 10px;
    position: relative;
}

#category li a{
    padding: 10px;
    background-color: transparent;
    border: 1px solid black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    transition: 0.2s ease;
}

#category li a:hover{
    box-shadow: 3px 3px 3px 3px rgba(27, 20, 25, 0.5);
}

#category li a:hover,
#category li a.active{
    color: purple;  
    box-shadow: 3px 3px 3px 3px rgba(27, 20, 25, 0.5);
}

#albumcategories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 55px;
    background-color: black;
    background-size: cover;

}

#albumcategory {
    display: flex;
    align-items: center;
    justify-content: center;
}

#albumcategory li{
    list-style: none;
    padding: 10px;
    position: relative;
}

#albumcategory li a{
    text-align: center;
    padding: 10px;
    background-color: transparent;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
    color: white;
    transition: 0.2s ease;
}

#albumcategory li a:hover{
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.5);
}

#albumcategory li a:hover,
#albumcategory li a.active{
    color: pink;  
    box-shadow: 3px 3px 3px 3px rgba(255, 254, 255, 0.5);
}

.section-p2{
    padding: 30px 90px;
}

body{
    width: 100%;
}

#product1{
    text-align: center; 
    font-size: 25px ;
}

#product1 p{
    padding: 2px;
    background-color: whitesmoke;
    color: black;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 15%;
    min-width: 200px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 1px 2px 3px 8px rgba(0,0,0,0.09);
    margin: 15px 0 ;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro img{
    width: 170px;
    height: 170px;
    border-radius: 20px;
    border: 1px solid black;
}

#product1 .pro img:hover{
    box-shadow: 1px 2px 3px 8px rgba(219, 109, 192, 0.2);
}

#product1 .pro  li{
    list-style: none;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: yellowgreen;
    font-size: 12px;
    padding: 5px;
    background-color: black;
    border-radius: 2px;
}

#product1 .pro .des h6{
    padding-top: 7px;
    color: black;
    font-size: 17px;
    text-align: left;
}

#product1 .pro .des i{
    font-size: 17px;
    padding: 0 0 20px;
    color: rgb(243,181,25);
}

#product1 .pro .des h5{
    background-color: pink;
    border: 1px solid black;
    border-radius: 15px;
    padding: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: lightgray;
    font-weight: 500;
    color: black;
    position: absolute;
    bottom: 20px;
    right: 5px;
    
}

#product1 .pro .cart:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}   

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('img/home2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #000;
}

#newsletter h3{
    font-size: 24px;
    font-weight: 700;
    color: black;
}

#newsletter p{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

#newsletter p span{
    color: red;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
     background-color: gray;
     color: white;
     white-space: nowrap;
     font-size: 15px;
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h3{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: gray;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid black;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: pink;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

.section-m1{
    margin: 40px 0;
}

.section-p1{
    padding: 40px 80px;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}


